:root{
    --c-white:   #ffffff;
    --c-gray-900: #e2e2e2;
    --c-gray-850: #d2d2d2;
    --c-gray-800: #c0c0c0;
    --c-gray-700: #b4b4b4;
    --c-gray-600: #999999;
    --c-gray-500: #808080;
    --c-gray-400: #686868;
    --c-gray-300: #4d4d4d;
    --c-gray-200: #2c2c2c;
    --c-gray-100: #202020;
    --c-gray-50: #141414;
    --c-black:   #000000;

    --c-purple-light: #7f4bff;
    --c-purple-bright: #6f0ed1;
    --c-purple-deep: #631aca;
    --c-plum-section: #2e2a3e;
    --c-plum-link: #3f3b51;
    --c-plum-badge: #524259;

    --c-error-bg: rgba(210, 22, 22, 0.39);
    --c-error-solid: rgb(211, 48, 48);
    --c-error-text: rgb(35, 2, 2);
}

