:root{
    --playground-background: var(--c-gray-100);
    --playground-section-border: var(--c-gray-300);
}

.playground-main{
    display: flex;
    margin:8px;
    background: var(--playground-background);
}

.playground-section{
    display: flex;
    margin:8px;
    border: 1px solid var(--playground-section-border);
    border-radius: 8px;
}